$primary: hsl(0, 0%, 10%) !default;
$secondary: hsl(1, 100%, 51%) !default;

$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 0%) !default;

$grey-50: hsl(0, 0%, 95%) !default;
$grey-100: hsl(0, 0%, 90%) !default;
$grey-200: hsl(0, 0%, 77%) !default;
$grey-300: hsl(0, 0%, 65%) !default;
$grey-400: hsl(0, 0%, 55%) !default;
$grey-500: hsl(0, 0%, 45%) !default;
$grey-600: hsl(0, 0%, 35%) !default;
$grey-700: hsl(0, 0%, 25%) !default;
$grey-800: hsl(0, 0%, 15%) !default;
$grey-900: hsl(0, 0%, 13%) !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$section-gap: 4rem !default;
$gap: 2rem !default;

$container-offset: 25px !default;
$container-width: 1440px !default;

$header-height: 80px !default;