.callback {
  background: $primary;
  color: $white;
}

.callback-wrapper {
  text-align: center;
  padding: 8rem 0;
}

.callback-title {
  font-size: 2.3rem;
  line-height: 2.5rem;
  font-weight: 900;
  color: $white;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.callback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.callback-description {
  font-size: 0.7rem;
  font-weight: 300;
  color: $white;
  margin-bottom: $gap;
}