button,
a.button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  justify-content: flex-start;
  padding: 1rem 2rem;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  background-color: $primary;
  color: $white;
  font-family: var(--font-family);
  font-weight: 300;
  text-align: center;
  justify-content: center;
  min-width: 220px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.9;
  }

  &.inverse {
    border: 1px solid $white;
  }

  &:disabled {
    cursor: not-allowed;
  }
}