.form input {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid $primary;
  border-radius: 50px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
  vertical-align: top;
  color: $primary;
  font-family: var(--font-family);
  font-weight: 300;
  min-width: 220px;

  &:not(:last-child) {
    margin-bottom: $gap;
  }
}